<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xatu.onlineedu.mapper.EduCourseMapper">

    <resultMap id="coursePublishVo" type="com.xatu.onlineedu.entity.vo.CoursePublishVo" autoMapping="true">
        <result property="lessonNum"  column="lesson_num"></result>
        <result property="subjectLevelOne"  column="es1title"></result>
        <result property="subjectLevelTwo"  column="es2title"></result>
        <result property="teacherName"  column="name"></result>
    </resultMap>
    <select id="getPublishCourseInfo"  resultMap="coursePublishVo">
            select
            ec.title,
            ec.cover,
            ec.lesson_num,
            ec.price,
            es1.title as es1title,
            es2.title as es2title,
            et.name
             from
            edu_course as ec
            left join edu_teacher as et on ec.teacher_id = et.id
            left join edu_subject as es1 on ec.subject_parent_id = es1.id
            left join edu_subject as es2 on ec.subject_id = es2.id
            where ec.id = #{courseId}
    </select>


    <select id="selectInfoWebById" resultType="com.xatu.onlineedu.entity.vo.CourseWebVo">
  SELECT
    c.id,
    c.title,
    c.cover,
    CONVERT(c.price, DECIMAL(8,2)) AS price,
    c.lesson_num AS lessonNum,
    c.cover,
    c.buy_count AS buyCount,
    c.view_count AS viewCount,
    cd.description,

    t.id AS teacherId,
    t.name AS teacherName,
    t.intro,
    t.avatar,

    s1.id AS subjectLevelOneId,
    s1.title AS subjectLevelOne,
    s2.id AS subjectLevelTwoId,
    s2.title AS subjectLevelTwo

  FROM
    edu_course c
    LEFT JOIN edu_course_description cd ON c.id = cd.id
    LEFT JOIN edu_teacher t ON c.teacher_id = t.id
    LEFT JOIN edu_subject s1 ON c.subject_parent_id = s1.id
    LEFT JOIN edu_subject s2 ON c.subject_id = s2.id
  WHERE
    c.id = #{id}
</select>
</mapper>
